body{
	font-family: "Trebuchet MS", "Lucida Grande", sans-serif;
	color: black;
	background: black;
	text-align: center;
}

#rowrow{
	background: #e3e3e3;
	width: 70%;
	padding: 10px
}

.ror:after {
  content: "";
  display: table;
  clear: both;
}
#colcol{
	width: 35%;
	float: left;
}

#compute{
	  background-color: #00d1c0;
  border: none;
  color: white;
  padding: 12px 24px;
  text-align: center;
  font-size: 12px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
}

#compute:hover {opacity: 1;
  color: black;}

#reset{
  background-color: #00d1c0;
  border: none;
  color: white;
  padding: 12px 24px;
  text-align: center;
  font-size: 12px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
}

#reset:hover {opacity: 1;
  color: black;}